.elementor-3358
    .elementor-element.elementor-element-4ecd538:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-4ecd538
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-4ecd538 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 70px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-4ecd538
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-3358
    .elementor-element.elementor-element-fb97bec.elementor-column
    .elementor-widget-wrap {
    align-items: flex-start;
}
.elementor-3358
    .elementor-element.elementor-element-fb97bec.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}
.elementor-3358 .elementor-element.elementor-element-fb97bec {
    z-index: 6;
}
.elementor-3358
    .elementor-element.elementor-element-9a3d09b
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-9a3d09b
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-9a3d09b .body-font,
.elementor-3358 .elementor-element.elementor-element-9a3d09b .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358
    .elementor-element.elementor-element-9a3d09b
    > .elementor-widget-container {
    margin: -10px 0px -10px 0px;
}
.elementor-3358 .elementor-element.elementor-element-c9d3c98 .pix-el-text,
.elementor-3358 .elementor-element.elementor-element-c9d3c98 .pix-el-text p,
.elementor-3358 .elementor-element.elementor-element-c9d3c98 .pix-el-text span {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-25f5977 {
    z-index: 1;
}
.elementor-3358 .elementor-element.elementor-element-bce9908 .pix-img-el,
.elementor-3358 .elementor-element.elementor-element-bce9908 .pix-img-div,
.elementor-3358 .elementor-element.elementor-element-bce9908 div {
    text-align: center !important;
}
.elementor-3358
    .elementor-element.elementor-element-bce9908
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1d065a6:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-1d065a6
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-1d065a6 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1d065a6
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358 .elementor-element.elementor-element-95b1494 {
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-e8a6919
    > .elementor-element-populated {
    padding: 38px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1fb82e6
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-1fb82e6
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-1fb82e6 .body-font,
.elementor-3358 .elementor-element.elementor-element-1fb82e6 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-1fb82e6 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-1fb82e6
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-b6f1a9b:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-b6f1a9b
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-b6f1a9b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-b6f1a9b
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358 .elementor-element.elementor-element-e82e988 {
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1d3edf7
    > .elementor-element-populated {
    padding: 38px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-4e82717
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-4e82717
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-4e82717 .body-font,
.elementor-3358 .elementor-element.elementor-element-4e82717 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-4e82717 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-4e82717
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-e9ed001:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-e9ed001
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-e9ed001 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-e9ed001
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358 .elementor-element.elementor-element-0728f02 {
    margin-top: -100px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-f048ae8
    > .elementor-element-populated {
    padding: 38px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-ef2d403
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-ef2d403
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-ef2d403 .body-font,
.elementor-3358 .elementor-element.elementor-element-ef2d403 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358
    .elementor-element.elementor-element-ef2d403
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-32ac685
    .elementor-counter-number-wrapper {
    color: #0490f3;
    font-family: "Work Sans", Sans-serif;
    font-size: 85px;
    font-weight: 600;
    text-shadow: 0px 0px 8px #0490f3;
}
.elementor-3358
    .elementor-element.elementor-element-9ba87b5:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-9ba87b5
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-9ba87b5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 050px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-9ba87b5
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358 .elementor-element.elementor-element-5bd8417 {
    text-align: center !important;
}
.elementor-3358 .elementor-element.elementor-element-5bd8417 .badge {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358
    .elementor-element.elementor-element-ad06cfe
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-ad06cfe
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-ad06cfe .body-font,
.elementor-3358 .elementor-element.elementor-element-ad06cfe .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-ad06cfe {
    text-shadow: 0px 0px 12px
        #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-ad06cfe
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d.elementor-view-stacked
    .elementor-icon {
    background-color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d.elementor-view-framed
    .elementor-icon,
.elementor-3358
    .elementor-element.elementor-element-1c3587d.elementor-view-default
    .elementor-icon {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3358 .elementor-element.elementor-element-1c3587d {
    --icon-box-icon-margin: 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    .elementor-icon-box-wrapper {
    text-align: left;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    .elementor-icon-box-title {
    margin-bottom: 15px;
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    .elementor-icon-box-title,
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    .elementor-icon-box-title
    a {
    font-family: "Work Sans", Sans-serif;
    font-weight: 600;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    .elementor-icon-box-description {
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
}
.elementor-3358
    .elementor-element.elementor-element-1c3587d
    > .elementor-widget-container {
    margin: 0px 80px 0px 80px;
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    /* box-shadow: 0px 0px 10px 5px
        rgba(238.00115661621092, 44.99050031795677, 14.988843898538928, 0.7); */
    box-shadow: 0px 0px 10px 5px
    #0490f3;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291.elementor-view-stacked
    .elementor-icon {
    background-color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291.elementor-view-framed
    .elementor-icon,
.elementor-3358
    .elementor-element.elementor-element-e22c291.elementor-view-default
    .elementor-icon {
    fill: #ffffff;
    color: #ffffff;
    border-color: #ffffff;
}
.elementor-3358 .elementor-element.elementor-element-e22c291 {
    --icon-box-icon-margin: 0px;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291
    .elementor-icon-box-wrapper {
    text-align: left;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291
    .elementor-icon-box-title {
    margin-bottom: 15px;
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291
    .elementor-icon-box-title,
.elementor-3358
    .elementor-element.elementor-element-e22c291
    .elementor-icon-box-title
    a {
    font-family: "Work Sans", Sans-serif;
    font-weight: 600;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291
    .elementor-icon-box-description {
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.elementor-3358
    .elementor-element.elementor-element-e22c291
    > .elementor-widget-container {
    margin: 0px 80px 0px 80px;
    padding: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 10px 5px
        #0490f3;
}
.elementor-3358
    .elementor-element.elementor-element-b0c3f82:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-b0c3f82
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-b0c3f82 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-b0c3f82
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-b107be8
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-b107be8
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-b107be8 .body-font,
.elementor-3358 .elementor-element.elementor-element-b107be8 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-b107be8 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-b107be8
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358 .elementor-element.elementor-element-b1e3de8 .pix-el-text,
.elementor-3358 .elementor-element.elementor-element-b1e3de8 .pix-el-text p {
    text-align: center !important;
}
.elementor-3358 .elementor-element.elementor-element-b1e3de8 .pix-el-text,
.elementor-3358 .elementor-element.elementor-element-b1e3de8 .pix-el-text p,
.elementor-3358 .elementor-element.elementor-element-b1e3de8 .pix-el-text span {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358
    .elementor-element.elementor-element-6210eac:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-6210eac
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-6210eac {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 20px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-6210eac
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-4fd4ea2
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-4fd4ea2
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-4fd4ea2 .body-font,
.elementor-3358 .elementor-element.elementor-element-4fd4ea2 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-4fd4ea2 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-4fd4ea2
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9
    .elementor-image-box-title {
    margin-bottom: 64px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-2f79de9
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4
    .elementor-image-box-title {
    margin-bottom: 33px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-284b8a4
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c
    .elementor-image-box-title {
    margin-bottom: 64px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-e9d624c
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3
    .elementor-image-box-title {
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-29cefc3
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b
    .elementor-image-box-title {
    margin-bottom: 4px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-c20546b
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66
    .elementor-image-box-title {
    margin-bottom: 33px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-275bb66
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5
    .elementor-image-box-title {
    margin-bottom: 0px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-9f888f5
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2.elementor-position-right
    .elementor-image-box-img {
    margin-left: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2.elementor-position-left
    .elementor-image-box-img {
    margin-right: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2.elementor-position-top
    .elementor-image-box-img {
    margin-bottom: 10px;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2
    .elementor-image-box-wrapper
    .elementor-image-box-img {
    width: 65%;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2
    .elementor-image-box-img
    img {
    transition-duration: 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2
    .elementor-image-box-title {
    margin-bottom: 29px;
    color: #ffffff;
    font-family: "Work Sans", Sans-serif;
    font-weight: normal;
}
.elementor-3358
    .elementor-element.elementor-element-4e0c5e2
    > .elementor-widget-container {
    margin: 20px 20px 20px 20px;
    padding: 15px 15px 15px 15px;
    background-color: #50626517;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -2px 0px 27px 7px #0f0d0d;
}
.elementor-3358
    .elementor-element.elementor-element-db12b41:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-db12b41
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-db12b41 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 50px 0px 80px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-db12b41
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-c5ff315
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-c5ff315
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-c5ff315 .body-font,
.elementor-3358 .elementor-element.elementor-element-c5ff315 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-c5ff315 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-c5ff315
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358 .elementor-element.elementor-element-a651c44 img {
    border-style: solid;
    border-color: #0490f3;
    box-shadow: 0px 0px 10px 6px
        rgba(244.734375, 10.829063558578495, 10.829063558578495, 0.75);
}
.elementor-3358
    .elementor-element.elementor-element-d6c4484:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-d6c4484
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-d6c4484 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 100px 0px 80px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-d6c4484
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-9bd862f
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358 .elementor-element.elementor-element-082fe84 {
    --icon-box-icon-margin: 15px;
}
.elementor-3358 .elementor-element.elementor-element-082fe84 .elementor-icon {
    font-size: 18px;
}
.elementor-3358
    .elementor-element.elementor-element-082fe84
    .elementor-icon-box-title,
.elementor-3358
    .elementor-element.elementor-element-082fe84
    .elementor-icon-box-title
    a {
    font-family: "Roboto", Sans-serif;
    font-size: 24px;
    font-weight: 400;
}
.elementor-3358
    .elementor-element.elementor-element-844c137:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-844c137
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-844c137 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 80px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-844c137
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-3758de1
    .pix-sliding-headline,
.elementor-3358
    .elementor-element.elementor-element-3758de1
    .pix-sliding-headline
    span,
.elementor-3358 .elementor-element.elementor-element-3758de1 .body-font,
.elementor-3358 .elementor-element.elementor-element-3758de1 .heading-font {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-3758de1 {
    text-shadow: 0px 0px 10px #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-3758de1
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
}
body.rtl
    .elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
}
body:not(.rtl)
    .elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-icon
    i {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-icon
    svg {
    fill: #ffffff;
}
.elementor-3358 .elementor-element.elementor-element-7dbf191 {
    --e-icon-list-icon-size: 15px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25)
        0 0;
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-text {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    .elementor-icon-list-item
    > a {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-3358
    .elementor-element.elementor-element-7dbf191
    > .elementor-widget-container {
    padding: 10px 10px 10px 10px;
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
}
body.rtl
    .elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
}
body:not(.rtl)
    .elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-icon
    i {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-icon
    svg {
    fill: #ffffff;
}
.elementor-3358 .elementor-element.elementor-element-9b5ad75 {
    --e-icon-list-icon-size: 15px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25)
        0 0;
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-text {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    .elementor-icon-list-item
    > a {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-3358
    .elementor-element.elementor-element-9b5ad75
    > .elementor-widget-container {
    padding: 10px 10px 10px 10px;
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(15px / 2);
    margin-left: calc(15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px / 2);
    margin-left: calc(-15px / 2);
}
body.rtl
    .elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-15px / 2);
}
body:not(.rtl)
    .elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-15px / 2);
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-icon
    i {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-icon
    svg {
    fill: #ffffff;
}
.elementor-3358 .elementor-element.elementor-element-941ba62 {
    --e-icon-list-icon-size: 15px;
    --e-icon-list-icon-align: left;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25)
        0 0;
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-text {
    color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-item
    > .elementor-icon-list-text,
.elementor-3358
    .elementor-element.elementor-element-941ba62
    .elementor-icon-list-item
    > a {
    font-family: "Work Sans", Sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.elementor-3358
    .elementor-element.elementor-element-941ba62
    > .elementor-widget-container {
    padding: 10px 10px 10px 10px;
}
.elementor-3358
    .elementor-element.elementor-element-d9935b1:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-d9935b1
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-d9935b1 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 80px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-d9935b1
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358 .elementor-element.elementor-element-849f1cc {
    text-shadow: 0px 0px 10px
        #15bdf7;
}
.elementor-3358
    .elementor-element.elementor-element-849f1cc
    > .elementor-widget-container {
    margin: 0px 0px -16px 0px;
}
.elementor-3358 .elementor-element.elementor-element-fbdd1a0 .pix-member-name {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-fbdd1a0 .pix-member-title,
.elementor-3358
    .elementor-element.elementor-element-fbdd1a0
    .pix-member-title.font-weight-bold {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-ed3d30b .pix-member-name {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-ed3d30b .pix-member-title,
.elementor-3358
    .elementor-element.elementor-element-ed3d30b
    .pix-member-title.font-weight-bold {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-87ba9e6 .pix-member-name {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358 .elementor-element.elementor-element-87ba9e6 .pix-member-title,
.elementor-3358
    .elementor-element.elementor-element-87ba9e6
    .pix-member-title.font-weight-bold {
    font-family: "Work Sans", Sans-serif;
}
.elementor-3358
    .elementor-element.elementor-element-379d7b7:not(
        .elementor-motion-effects-element-type-background
    ),
.elementor-3358
    .elementor-element.elementor-element-379d7b7
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #131415;
}
.elementor-3358 .elementor-element.elementor-element-379d7b7 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 40px 0px 100px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-379d7b7
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
        .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: -20px;
}
.elementor-3358
    .elementor-element.elementor-element-a845e98:not(
        .elementor-motion-effects-element-type-background
    )
    > .elementor-widget-wrap,
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-widget-wrap
    > .elementor-motion-effects-container
    > .elementor-motion-effects-layer {
    background-color: #ffffff;
}
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-element-populated {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-element-populated,
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-element-populated
    > .elementor-background-overlay,
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-background-slideshow {
    border-radius: 10px 10px 10px 10px;
}
.elementor-3358
    .elementor-element.elementor-element-a845e98
    > .elementor-element-populated
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-3358
    .elementor-element.elementor-element-0a44692
    > .elementor-container {
    max-width: 927px;
}
.elementor-3358 .elementor-element.elementor-element-0a44692 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s,
        box-shadow 0.3s;
    z-index: 1;
}
.elementor-3358
    .elementor-element.elementor-element-0a44692
    > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
    .elementor-3358
    .elementor-element.elementor-element-ae861e2.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-3358
    .elementor-element.elementor-element-ae861e2.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-3358
    .elementor-element.elementor-element-c9c6f41
    > .elementor-widget-container {
    margin: 0px 0px -17px 0px;
}
.elementor-bc-flex-widget
    .elementor-3358
    .elementor-element.elementor-element-68fba39.elementor-column
    .elementor-widget-wrap {
    align-items: center;
}
.elementor-3358
    .elementor-element.elementor-element-68fba39.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}
.elementor-3358
    .elementor-element.elementor-element-c9fb8b5
    > .elementor-widget-container {
    margin: 0px 0px -17px 0px;
}
@media (min-width: 768px) {
    .elementor-3358 .elementor-element.elementor-element-9ec63cb {
        width: 50%;
    }
    .elementor-3358 .elementor-element.elementor-element-5383ba9 {
        width: 50%;
    }
}
@media (max-width: 1024px) {
    .elementor-3358
        .elementor-element.elementor-element-5bd8417
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3358
        .elementor-element.elementor-element-1c3587d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3358
        .elementor-element.elementor-element-e22c291
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}
@media (max-width: 767px) {
    .elementor-3358
        .elementor-element.elementor-element-32ac685
        .elementor-counter-number-wrapper {
        font-size: 63px;
    }
    .elementor-3358
        .elementor-element.elementor-element-32ac685
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3358
        .elementor-element.elementor-element-1c3587d
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3358
        .elementor-element.elementor-element-e22c291
        > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-3358
        .elementor-element.elementor-element-2f79de9
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-284b8a4
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-e9d624c
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-29cefc3
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-c20546b
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-275bb66
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-9f888f5
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
    .elementor-3358
        .elementor-element.elementor-element-4e0c5e2
        .elementor-image-box-img {
        margin-bottom: 10px;
    }
}
